@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* make it 100 - 900 variants for primary color */
  --color-primary: #DD3333;
  --color-light-gray: #F1F1F1;
  --color-secondary: #c72e2e;

  --shadow-cardLightShadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  --shadow-cardDarkShadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
  --shadow-topUpShadow: 0 5px 20px rgba(0, 0, 0, .2)
}

/* Light and dark mode text selection for input fields */
input::selection {
  background-color: #DD3333;
  /* Your primary or accent color */
  color: #ffffff;
  /* White text */
}

input::-moz-selection {
  background-color: #DD3333;
  color: #ffffff;
}

/* Optional: textareas too */
textarea::selection {
  background-color: #DD3333;
  color: #ffffff;
}

textarea::-moz-selection {
  background-color: #DD3333;
  color: #ffffff;
}